

#Refresh {
    width: 100%;
    position: absolute;
    top: -65px;
    z-index: 999;
    display: flex;
    justify-content: center;
}

 #Refresh img {
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

 #Refresh .rotate {
    animation: rotate 1s linear infinite both;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
